PORT=5000
MONGO_URI=mongodb://name:password@cluster0-shard-00-00.0hlzbqu.mongodb.net:27017,cluster0-shard-00-01.0hlzbqu.mongodb.net:27017,cluster0-shard-00-02.0hlzbqu.mongodb.net:27017/miniCRM?ssl=true&replicaSet=atlas-0hlzbqu-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=mysecret123
NODE_ENV=development